*
!*.ts
!src
!src/*
!src/**/*.ts
src/test.ts
!scripts
!localScripts
!localScripts/*
!typings
!.github
!.github/workflows
!.github/workflows/build.yml
!package.json
!tsconfig.json
!pnpm-lock.yaml
!package-lock.json
!yarn.lock
!.gitignore
!.npmignore